<?xml version="1.0"?>
<!--
/**
 * Un.titled
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License, that is bundled with this
 * package in the file LICENSE.
 * It is also available through the world-wide-web at this URL:
 *
 * http://opensource.org/licenses/MIT
 *
 * @copyright  Copyright (c) 2015 Un.titled and contributors.
 */
-->
<config>
    <modules>
        <Untitled_AppliedPatches>
            <version>0.0.1</version>
        </Untitled_AppliedPatches>
    </modules>
    <global>
        <blocks>
            <untitled_appliedpatches>
                <class>Untitled_AppliedPatches_Block</class>
            </untitled_appliedpatches>
        </blocks>
        <helpers>
            <untitled_appliedpatches>
                <class>Untitled_AppliedPatches_Helper</class>
            </untitled_appliedpatches>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <untitled_appliedpatches>
                    <file>untitled/appliedpatches.xml</file>
                </untitled_appliedpatches>
            </updates>
        </layout>
        <translate>
            <modules>
                <untitled_appliedpatches>
                    <files>
                        <default>Untitled_AppliedPatches.csv</default>
                    </files>
                </untitled_appliedpatches>
            </modules>
        </translate>
    </adminhtml>
</config>